{% load static i18n %}

<div class="site-section site-blocks-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="{% static 'shoppers-gh-pages/images/women.jpg' %}" alt="" class="img-fluid">
          </figure>

          <div class="text">
            <span class="text-uppercase">
            	{% trans 'Customer 1 description' %}
          	</span>

            <h3>
            	{% trans 'Customer 1' %}
            </h3>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="{% static 'shoppers-gh-pages/images/children.jpg' %}" alt="" class="img-fluid">
          </figure>

          <div class="text">
            <span class="text-uppercase">
            	{% trans 'Customer 2 description' %}
          	</span>

            <h3>
            	{% trans 'Customer 2' %}
            </h3>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="{% static 'shoppers-gh-pages/images/men.jpg' %}" alt="" class="img-fluid">
          </figure>

          <div class="text">
            <span class="text-uppercase">
            	{% trans 'Customer 3 description' %}
          	</span>

            <h3>
            	{% trans 'Customer 3' %}
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>