{% load i18n %}

<div id="ftt-Step4" 
style="margin: 40px 0 0 -40px;"
class="popover popover-x popover-default">
  <div class="arrow"></div>
  <h3 class="popover-header popover-title">
  	<span class="close pull-right" data-dismiss="popover-x">
      &times;
    </span>
  	{% trans 'Title step 4 tutorial app' %}
    <i class="material-icons">
      flag
    </i>
  </h3>

  <div class="popover-body popover-content">
    <p>
      {% trans 'A list of things to do and their percentages of advances' %}.
    </p>
  </div>

  <div class="popover-footer">
    <button 
    data-dismiss="popover-x"
    onclick="gotoStep5('{{my_user}}')" 
    class="btn btn-sm btn-primary">
  		{% trans 'Next' %}
    </button>

    {% if my_user.show_tasks %}
      <button 
      onclick="gotoStep3('{{my_user}}')"
      class="btn btn-sm btn-default">
        {% trans 'Previous' %}
      </button>
    {% else %}
      <button 
      onclick="gotoStep2('{{my_user}}')"
      class="btn btn-sm btn-default">
        {% trans 'Previous' %}
      </button>
    {% endif %}

    <button
    data-dismiss="popover-x"
    class="btn btn-sm btn-default">
      {% trans 'Cancel' %}
    </button>
  </div>
</div>