{% load i18n %}

<div id="ftt-Step5" 
style="margin: -20px 0 0 0;"
class="popover popover-x popover-default">
  <div class="arrow"></div>
  <h3 class="popover-header popover-title">
  	<span class="close pull-right" data-dismiss="popover-x">
      &times;
    </span>
  	{% trans 'Title step 5 tutorial app' %}
    <i class="material-icons">
      more_vert
    </i>
  </h3>

  <div class="popover-body popover-content">
    <p>
      {% trans 'Custom the application' %}.
    	{% trans 'Click on it and you can change the skins and main settings' %}.
    </p>
  </div>

  <div class="popover-footer">
    <button 
    data-dismiss="popover-x"
    onclick="gotoStep6('{{my_user}}')" 
    class="btn btn-sm btn-primary">
  		{% trans 'Next' %}
    </button>

    {% if my_user.show_tasks %}
      <button 
      onclick="gotoStep4('{{my_user}}')"
      class="btn btn-sm btn-default">
        {% trans 'Previous' %}
      </button>
    {% elif my_user.show_notifications %}
      <button 
      onclick="gotoStep3('{{my_user}}')"
      class="btn btn-sm btn-default">
        {% trans 'Previous' %}
      </button>
    {% else %}
      <button 
      onclick="gotoStep2('{{my_user}}')"
      class="btn btn-sm btn-default">
        {% trans 'Previous' %}
      </button>
    {% endif %}

    <button
    data-dismiss="popover-x"
    class="btn btn-sm btn-default">
      {% trans 'Cancel' %}
    </button>
  </div>
</div>