{% load static i18n %}

{% if msg %}
  <script type="text/javascript">
    $(document).ready(function(){
      show_msg_with_toastr("{{level}}", "{{msg}}");
      if ($("section.content form input")[0] != undefined)
        $("section.content form input")[0].focus();
    });
  </script>
{% endif %}

<script type="text/javascript">
  var msg_wait;
  var missed_query;

  $.ajax({
    method: "GET",
    url: "/translator/many/",
    data: { msgs: "Please wait,Please enter at least one search criteria"}
  })
  .done(function(result) {
    result = result.split(',');
    msg_wait = result[0];
    missed_query = result[1];
  });

  function view_all(url, action) {
    show_msg_with_toastr("info", msg_wait);
    $("section.content form button[type='submit']").attr("disabled", "true");
    url = url + "?itm_menu={{itm_menu}}&user={{user}}";

    if (action.toUpperCase() == 'EDIT')
      url = url + "&edit=true";
    else if (action.toUpperCase() == 'DELETE')
      url = url + "&delete=true";

    $.ajax({
      method: "GET",
      url: url
    })
    .done(function(result) {
      $("section.content").html(result);
      //toastr.clear();
      return false;
    });
  }
</script>

<style type="text/css">
  .btn {
    width: 120px;
    margin: 0 0 10px 0;
  }
</style>

<div class="container-fluid">
  <!--
  <div class="block-header" style="margin: 0 0 15px -15px">
    <h2>
      {{form.title|upper}}
  	</h2>
  </div>
  -->

  <div class="row clearfix">
    <div class="card">
      <div class="header">
        <h2>
          {{form.title|upper}}
        </h2>
      </div>

      <div class="body">
        <p>
          {% block msg_pre_form %}
          {% endblock %}
        </p>

        <form action="{{form.action}}" method="post"
        onreset="$('section.content form input')[0].focus();">
          {{form.as_table}}
          {% csrf_token %}

          {% if 'AGREGAR' not in form.title|upper %}
            <p>
              {% if 'EDITAR' in form.title|upper %}
                <a href="#" class="act-list-all"
                onclick="view_all('/customers/list-all', 'edit'); return false;" >
                  {% trans 'View all' %}
                </a>
              {% elif 'ELIMINAR' in form.title|upper %}
                <a href="#" class="act-list-all"
                onclick="view_all('/customers/list-all', 'delete'); return false;" >
                  {% trans 'View all' %}
                </a>
              {% else %}
                <a href="#" class="act-list-all"
                onclick="view_all('/customers/list-all', 'search'); return false;" >
                  {% trans 'View all' %}
                </a>
              {% endif %}
            </p>

            <!--
            <p>
              <a href="#" 
              class="act-search-config">
                {% trans 'Search config' %}
              </a>
            </p>
            -->
          {% endif %}

          <input hidden="true" style="visibility: hidden;" 
          name="user" value="{{user}}" id="txtEmailHid" />

          <input hidden="true" style="visibility: hidden;" 
          name="city_obj" />

          <input hidden="true" style="visibility: hidden;" 
          name="user_obj" />

          <input hidden="true" style="visibility: hidden;" 
          name="app_version" value="{{app_version}}" />

          <input hidden="true" style="visibility: hidden;" 
          name="itm_menu" value="{{itm_menu}}" />

          <button class="btn btn-primary waves-effect"
          type="submit">
            <i class="material-icons">
              {{form.icon_btn_submit}}
            </i>
            {{form.btn_label}}
          </button>

          <button class="btn btn-warning waves-effect"
          type="reset">
            <i class="material-icons">clear_all</i>
            {% trans 'Clean all' %}
          </button>

          <button class="btn btn-default waves-effect act-cancel-form" type="button">
            <i class="material-icons">cancel</i>
            {% trans 'Cancel' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1/datepicker-es.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function(){
    module_name = $(".container-fluid .card .header h2")[0].innerHTML;
    module_name = module_name.toUpperCase();

    var options = { 
      target:        'section.content',
      beforeSubmit:  showRequest,
      success:       showResponse 
    }; 

    $(".act-cancel-form").click(function() {
      showMainPanel();
    });

    function showRequest(formData, jqForm, options) { 
      show_msg_with_toastr("info", msg_wait);
      $("section.content form button[type='submit']").attr("disabled", "true");

      // module_name = $(".container-fluid .card .header h2")[0].innerHTML;
      // module_name = module_name.toUpperCase();

      if (module_name.includes('AGREGAR')) {
        // city = $("input[name='city_obj']").val().trim();

        // if (city.length < 1) {
        //   $.ajax({
        //     method: "GET",
        //     url: "/translator/translate",
        //     data: { msg: "Please enter a valid city"}
        //   })
        //   .done(function(result) {
        //     show_msg_with_toastr("error", result);
        //     $("input[name='city_obj']").val("");
        //     $("section.content form button[type='submit']").attr("disabled", "true");
        //   });

        //   toastr.clear();
        //   return false;
        // }
      }
      //else if (module_name.includes('BUSCAR')) {
      else {
        inputs = $('section.content form input.validate');
        tope = inputs.length;
        x = -1;
        disable_btn = false;
        counter_failed = 0;

        while (++x < tope)
          if (!validField(inputs[x]))
            counter_failed++;

        if (counter_failed == tope)
          disable_btn = true;

        toastr.clear();

        if (disable_btn) {
          
          //$("section.content form button[type='submit']").attr("disabled", "true");
          $("section.content form button[type='submit']").removeAttr("disabled");
          show_msg_with_toastr("error", missed_query);
        }
        else {
          //$("section.content form button[type='submit']").removeAttr("disabled");
        }

        return !disable_btn;
      }

      return true; 
    }
 
    function showResponse(responseText, statusText, xhr, $form)  { 
      $(".page-loader-wrapper").remove();
    }

    $("#id_dob").datepicker({maxDate: "-18Y",  showButtonPanel: true, changeMonth: true, changeYear: true});

    $("#id_dob").datepicker("option", $.datepicker.regional["es"] );

    //$("#id_dob").attr("readonly", "readonly");

    $("#id_dob").change(function(){
      // Regular expression taken from https://www.regextester.com/99555
      var re = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;

      show_msg_with_toastr("info", msg_wait);

      if (!re.test(this.value)) {
        $.ajax({
          method: "GET",
          url: "/translator/translate/",
          data: {msg: "Wrong format for date of birth"}
        })
        .done(function(result) {
          toastr.clear();
          show_msg_with_toastr("error", result);
          $("section.content form button[type='submit']").attr("disabled", "true");
        });
      }
      else {
        toastr.clear();
        $("section.content form button[type='submit']").removeAttr("disabled");
      }
    });

    if (module_name.includes('AGREGAR')) {
      $("#id_email").change(function(){
        show_msg_with_toastr("info", msg_wait);
        $.ajax({
          method: "GET",
          url: "/customers/search/by-email/",
          data: {email: this.value}
        })
        .done(function(result) {
          toastr.clear();
          if (result.exist)
            $.ajax({
              method: "GET",
              url: "/translator/translate",
              data: {msg: "Already exists one customer with the specified email"}
            })
            .done(function(result) {
              show_msg_with_toastr("error", result);
              $("section.content form button[type='submit']").attr("disabled", "true");
            });
          else {
            $("section.content form button[type='submit']").removeAttr("disabled");
          }
        });
      });

      $("#id_rfc").change(function(){
        show_msg_with_toastr("info", msg_wait);
        $.ajax({
          method: "GET",
          url: "/customers/search/by-rfc/",
          data: {rfc: this.value}
        })
        .done(function(result) {
          toastr.clear();
          if (result.exist)
            $.ajax({
              method: "GET",
              url: "/translator/translate",
              data: {msg: "Already exists one customer with the specified RFC"}
            })
            .done(function(result) {
              show_msg_with_toastr("error", result);
              $("section.content form button[type='submit']").attr("disabled", "true");
            });
          else {
            $("section.content form button[type='submit']").removeAttr("disabled");
          }
        });
      });
    }

    $("input[name='city']").autocomplete({
      source: "{% url 'cities-autocomplete' %}",
      minLength: 1,
    });

    $("input[name='city']").change(function(){
      show_msg_with_toastr("info", msg_wait);
      $.ajax({
        method: "GET",
        url: "{% url 'search-city-by-name' %}",
        data: { name: this.value}
      })
      .done(function(result) {
        toastr.clear();
        if (!result['exist'])
          $.ajax({
            method: "GET",
            url: "/translator/translate",
            data: { msg: "Please enter a valid city"}
          })
          .done(function(result) {
            show_msg_with_toastr("warning", result);
            $("input[name='city_obj']").val("");
            //$("section.content form button[type='submit']").attr("disabled", "true");
          });
        else {
          $("input[name='city_obj']").val(result["city"]);
          //$("section.content form button[type='submit']").removeAttr("disabled");
        }
      });
    });

    $("section.content form").ajaxForm(options);
    $("div.menu a#{{itm_menu}}").parent().addClass("active");
  });
</script>

{% block actions_js %}
{% endblock %}