{% load static i18n %}

<style type="text/css">
	div#modalViewDetails {
		width: 35%;
	}

  table.tbl-view-details {
    width: 100%;
  }

  table.tbl-view-details tbody tr td:first-child  {
    /* text-align: right; */
    font-weight: bold;
    width: 100%;
  }

  .right-alignment {
    text-align: right;
  }

  .hidden {
    visibility: hidden;
  }
</style>

{% if can_edit and can_edit|upper == 'TRUE' %}
<script src="{% static 'js/dashboard/view-details/edit-functions.js' %}"></script>
{% endif %}

{% if can_delete and can_delete|upper == 'TRUE' %}
<script src="{% static 'js/dashboard/view-details/delete-functions.js' %}"></script>
{% endif %}

<div class="bg-gradient-primary modal fade" 
id="dlgViewDetails" tabindex="-1" role="dialog" 
aria-labelledby="lblHeader" aria-hidden="true">
  <div class="modal-dialog my-modal" 
  role="document" id="modalViewDetails">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lblHeader">
          {% trans 'Customer details' %}
        </h5>

        <button class="close" type="button" 
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <hr />

      <div class="modal-body">
        <div class="card hidden confirm-delete">
          <div class="body bg-blue-grey">
            <h4>
              <!-- 
                <i class="material-icons">warning</i> 
              -->
              {% trans 'Are you sure do you want to remove this' %}
            </h4>

            <form action="/customers/confirmed-delete" 
              method="post" class="confirm-delete">
              {% csrf_token %}

              <label for="txtReasonToDrop">
                {% trans 'Aditionally you can specify the reason to remove this' %}
              </label>
              <textarea cols="10" id="txtReasonToDrop" 
              name="reason" class="form-control"></textarea>

              <input type="text" name="customer" 
              value="{{customer.id}}" hidden="true" 
              style="visibility: hidden;" />
              <input type="text" name="itm_menu" 
              value="{{itm_menu}}" hidden="true" 
              style="visibility: hidden;" />
              <br />

              <button class="btn btn-default" 
              type="submit">
                {% trans 'Delete' %}
              </button>

              <button class="btn btn-default" 
              type="button" onclick="cancelDelete()">
                {% trans 'Cancel' %}
              </button>
            </form>
          </div>
        </div>

        <p class="hidden edit">
          {% trans 'Fields marked are mandatory' %}.
        </p>

      	<div class="table-responsive">
          <form method="post" class="update" 
          action="/customers/update">
            {% csrf_token %}

            <input type="text"  
            value="{{customer.id}}" 
            hidden="true" 
            style="visibility: hidden;"
            name="customer">

            <table class="table-bordered table-striped tbl-view-details" 
            style="white-space: nowrap;">
              <tbody>
                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtRFC">
                        *&nbsp;{% trans 'RFC' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtRFC" 
                      required="true" 
                      class="form-control" 
                      value="{{customer.rfc}}" 
                      name="rfc">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'RFC' %}:
                  </td>

                  <td>
                    {{customer.rfc}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtFirstName">
                        *&nbsp;{% trans 'First name' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtFirstName" 
                      required="true" 
                      class="form-control" 
                      value="{{customer.first_name}}" 
                      name="first_name">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'First name' %}:
                  </td>

                  <td>
                    {{customer.first_name}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtMiddleName">
                        {% trans 'Middle name' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtMiddleName" 
                      type="text"
                      class="form-control" 
                      value="{{customer.middle_name}}" 
                      name="middle_name">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Middle name' %}:
                  </td>

                  <td>
                    {{customer.middle_name}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtLastName">
                        *&nbsp;{% trans 'Last name' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtLastName" 
                      type="text" required="true" 
                      class="form-control" 
                      value="{{customer.last_name}}" 
                      name="last_name">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Last name' %}:
                  </td>

                  <td>
                    {{customer.last_name}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtMothersLastName">
                        {% trans 'Mothers last name' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtMothersLastName" 
                      class="form-control" 
                      value="{{customer.mothers_last_name}}" 
                      name="mothers_last_name">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Mothers last name' %}:
                  </td>

                  <td>
                    {{customer.mothers_last_name}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="lstGender">
                        *&nbsp;{% trans 'Gender' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <select id="lstGender"
                      class="form-control"
                      name="gender">
                        <option>
                          -- {% trans 'Pick one' %} --
                        </option>

                        {% if customer.gender == '' %}
                          <option value="" 
                          selected="true">
                            {% trans 'Prefer not to say' %}
                          </option>
                        {% else %}
                          <option value="">
                            {% trans 'Prefer not to say' %}
                          </option>
                        {% endif %}

                        {% if customer.gender == 'M' %}
                          <option value="M" 
                          selected="true">
                            {% trans 'Male' %}
                          </option>
                        {% else %}
                          <option value="M">
                            {% trans 'Male' %}
                          </option>
                        {% endif %}

                        {% if customer.gender == 'F' %}
                          <option value="F" 
                          selected="true">
                            {% trans 'Female' %}
                          </option>
                        {% else %}
                          <option value="F">
                            {% trans 'Female' %}
                          </option>
                        {% endif %}
                      </select>
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Gender' %}:
                  </td>

                  <td>
                    {{customer.gender_as_long_string}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtDOB">
                        *&nbsp;{% trans 'Date of birth' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtDOB" 
                      class="form-control" 
                      value="{{customer.dob_fmt_mx}}" 
                      name="dob">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Date of birth' %}:
                  </td>

                  <td>
                    {{customer.dob_fmt_mx}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtEmail">
                        *&nbsp;{% trans 'Email' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtEmail" 
                      class="form-control" 
                      value="{{customer.email}}" 
                      name="email">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Email' %}:
                  </td>

                  <td>
                    {{customer.email}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtCity">
                        {% trans 'City' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtCity" 
                      class="form-control" 
                      value="{{customer.city.display_name}}" 
                      name="city">

                      <input type="text" 
                      hidden="true" 
                      style="visibility: hidden;" 
                      value="{{customer.city.id}}" 
                      name="city_obj">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'City' %}:
                  </td>

                  <td>
                    {{customer.city.display_name}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtAddr1">
                        {% trans 'Address line 1' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtAddr1" 
                      class="form-control" 
                      value="{{customer.address_line1}}"
                      name="address_line1">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Address line 1' %}:
                  </td>

                  <td>
                    {{customer.address_line1}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtAddr2">
                        {% trans 'Address line 2' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtAddr2" 
                      class="form-control" 
                      value="{{customer.address_line2}}"
                      name="address_line2">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Address line 2' %}:
                  </td>

                  <td>
                    {{customer.address_line2}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtCellPhone">
                        *&nbsp;{% trans 'Cell phone' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtCellPhone" 
                      class="form-control" 
                      required="true"
                      value="{{customer.cell_phone}}" 
                      name="cellphone">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Cell phone' %}:
                  </td>

                  <td>
                    {{customer.cell_phone}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtHomePhone">
                        {% trans 'Home phone' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtHomePhone" 
                      class="form-control" 
                      value="{{customer.home_phone}}" 
                      name="homephone">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Home phone' %}:
                  </td>

                  <td>
                    {{customer.home_phone}}
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' %}
                  <tr class="hidden edit">
                    <td>
                      <label for="txtOtherPhone">
                        {% trans 'Other phone' %}:
                      </label>
                    </td>
                  </tr>

                  <tr class="hidden edit">
                    <td>
                      <input id="txtOtherPhone" 
                      class="form-control" 
                      value="{{customer.other_phone}}" 
                      name="otherphone">
                    </td>
                  </tr>
                {% endif %}

                <tr class="view">
                  <td>
                    {% trans 'Other phone' %}:
                  </td>

                  <td>
                    {{customer.other_phone}}
                  </td>
                </tr>

                <tr id="rowBtnSave" 
                hidden="true" class="hidden">
                  <td colspan="2">
                    <button type="submit" 
                    class="btn btn-primary">
                      {% trans 'Save' %}
                    </button>

                    <button type="button" 
                    onclick="cancelEdit()" 
                    class="btn btn-primary btnCancelEdit">
                      {% trans 'Cancel' %}
                    </button>
                  </td>
                </tr>

                {% if can_edit and can_edit|upper == 'TRUE' or can_delete and can_delete|upper == 'TRUE' %}
                <tr class="view">
                  <td>{% trans 'Options' %}:</td>

                  <td>
                  	{% if can_edit and can_edit|upper == 'TRUE' %}
  	                	<a href="#" data-placement="bottom"
  	                	data-toggle="tooltip"  
                      onclick="editData();prepareEditFrm();" 
                      id="actEditData"
  	                	title="{% trans 'Edit' %}" 
  	                	data-original-title="{% trans 'Edit' %}"><i class="material-icons">edit</i></a>
                  	{% endif %}

                  	{% if can_delete and can_delete|upper == 'TRUE' %}
  	                	<a href="#" data-placement="top"
  	                	data-toggle="tooltip" 
                      id="actDelete" 
                      onclick="confirmDelete()" 
  	                	title="{% trans 'Delete' %}" 
  	                	data-original-title="{% trans 'Delete' %}"><i class="material-icons">delete</i></a>
                  	{% endif %}
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <hr />

      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" 
      	data-dismiss="modal">
      		<!--<i class="material-icons">clear</i>-->
      		{% trans 'Back' %}
      	</button>
        <div id="divAjaxResults"></div>
      </div>
    </div>
	</div>
</div>

<script type="text/javascript">
  function on_close_dlgViewDetails() {
    $('#dlgViewDetails').on('hidden.bs.modal', 
      function () {
        $('#dlgSearchResults').focus();
        toastr.clear();
      });
  }

	$(document).ready(function(){
		toastr.clear();

    itm_menu = $("div.menu li.active a")[0].id;
    $("#dlgViewDetails input[name='itm_menu']").val(itm_menu);

		var msg_wait;

	  $.ajax({
	    method: "GET",
	    url: "/translator/translate/",
	    data: { msg: "Please wait"}
	  })
	  .done(function(result) {
	    msg_wait = result;
	  });

		$('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% if can_delete and can_delete|upper == 'TRUE' %}
<script type="text/javascript">
  function prepareDeleteFrm() {
    options = { 
      target:        'section.content .container-fluid',
      beforeSubmit:  showRequest,
      success:       showResponse
    }; 

    function showRequest(formData, jqForm, options) { 
      show_msg_with_toastr("info", msg_wait);
      return true;
    }
 
    function showResponse(responseText, statusText, xhr, $form)  { 
      $("#dlgViewDetails").modal("hide");
      $("#dlgSearchResults").modal("hide");
    }

    $("#dlgViewDetails form.confirm-delete").ajaxForm(options);
  }
</script>
{% endif %}

{% if can_edit and can_edit|upper == 'TRUE' %}
<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1/datepicker-es.js' %}"></script>

<script type="text/javascript">
  var old_rfc=$("#dlgViewDetails form.update #txtRFC").val();
  var old_email=$("#dlgViewDetails form.update #txtEmail").val();

  function prepareEditFrm() {
    // $("#dlgViewDetails form.update input[name='useradmin']").autocomplete({
    //   source: "{% url 'my-users-autocomplete' %}",
    //   minLength: 1,
    // });

    $("#dlgViewDetails form.update input[name='city']").autocomplete({
      source: "{% url 'cities-autocomplete' %}",
      minLength: 1,
    });

    $("#dlgViewDetails table.tbl-view-details tbody tr td:first-child").removeClass("right-alignment");

    $("#dlgViewDetails form.update #txtDOB").datepicker({maxDate: "-18Y",  showButtonPanel: true, changeMonth: true, changeYear: true});

    $("#dlgViewDetails form.update #txtDOB").datepicker("option", $.datepicker.regional["es"] );

    //$("#dlgViewDetails form.update #txtDOB").attr("readonly", "readonly");

    //$("#dlgViewDetails form.update #txtDOB").datepicker("option", "appendTo", "#dlgViewDetails form.update");

    $("#dlgViewDetails form.update input[name='city']").change(function(){
      show_msg_with_toastr("info", msg_wait);
      $.ajax({
        method: "GET",
        url: "{% url 'search-city-by-name' %}",
        data: { name: this.value}
      })
      .done(function(result) {
        toastr.clear();
        if (!result['exist'])
          $.ajax({
            method: "GET",
            url: "/translator/translate",
            data: { msg: "Please enter a valid city"}
          })
          .done(function(result) {
            show_msg_with_toastr("warning", result);
            $("input[name='city_obj']").val("");
            //$("#dlgViewDetails form.update button[type='submit']").attr("disabled", "true");
          });
        else {
          $("input[name='city_obj']").val(result["city"]);
          //$("#dlgViewDetails form.update button[type='submit']").removeAttr("disabled");
        }
      });
    });

    $("#dlgViewDetails form.update #txtDOB").change(function(){

      // Regular expression taken from https://www.regextester.com/99555
      var re = /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/;

      show_msg_with_toastr("info", msg_wait);

      if (!re.test(this.value)) {
        $.ajax({
          method: "GET",
          url: "/translator/translate/",
          data: {msg: "Wrong format for date of birth"}
        })
        .done(function(result) {
          toastr.clear();
          show_msg_with_toastr("error", result);
          $("#dlgViewDetails form.update button[type='submit']").attr("disabled", "true");
        });
      }
      else {
        toastr.clear();
        $("#dlgViewDetails form.update button[type='submit']").removeAttr("disabled");
      }
    });

    $("#dlgViewDetails form.update #txtRFC").change(function(){
      if (this.value==old_rfc)
        return false;

      show_msg_with_toastr("info", msg_wait);
      $.ajax({
        method: "GET",
        url: "/customers/search/by-rfc/",
        data: {rfc: this.value}
      })
      .done(function(result) {
        toastr.clear();
        if (result.exist)
          $.ajax({
            method: "GET",
            url: "/translator/translate/",
            data: {msg: "Already exists one customer with the specified RFC"}
          })
          .done(function(result) {
            show_msg_with_toastr("error", result);
            $("#dlgViewDetails form.update button[type='submit']").attr("disabled", "true");
          });
        else {
          $("#dlgViewDetails form.update button[type='submit']").removeAttr("disabled");
        }
      });
    });

    $("#dlgViewDetails form.update #txtEmail").change(function(){
      if (this.value==old_email)
        return false;

      show_msg_with_toastr("info", msg_wait);
      $.ajax({
        method: "GET",
        url: "/customers/search/by-email/",
        data: {email: this.value}
      })
      .done(function(result) {
        toastr.clear();
        if (result.exist)
          $.ajax({
            method: "GET",
            url: "/translator/translate/",
            data: {msg: "Already exists one customer with the specified email"}
          })
          .done(function(result) {
            show_msg_with_toastr("error", result);
            $("#dlgViewDetails form.update button[type='submit']").attr("disabled", "true");
          });
        else {
          $("#dlgViewDetails form.update button[type='submit']").removeAttr("disabled");
        }
      });
    });

    // $("#dlgViewDetails form.update input[name='useradmin']").autocomplete({
    //   source: "{% url 'my-users-autocomplete' %}",
    //   minLength: 1,
    // });

    // $("#dlgViewDetails form.update input[name='useradmin']").change(function(){
    //   show_msg_with_toastr("info", msg_wait);

    //   email = this.value.substring(this.value.indexOf("[email=") + "[email=".length, this.value.indexOf("]"));

    //   $.ajax({
    //     method: "GET",
    //     url: "{% url 'search-user-by-email' %}",
    //     data: { email: email}
    //   })
    //   .done(function(result) {
    //     toastr.clear();
    //     if (!result['exist'])
    //       $.ajax({
    //         method: "GET",
    //         url: "/translator/translate",
    //         data: { msg: "Please enter a valid user"}
    //       })
    //       .done(function(result) {
    //         show_msg_with_toastr("error", result);
    //         $("#dlgViewDetails form.update input[name='useradmin_obj']").val("");
    //         $("#dlgViewDetails form.update button[type='submit']").attr("disabled", "true");
    //       });
    //     else {
    //       $("#dlgViewDetails form.update input[name='useradmin_obj']").val(result["user"]);
    //       $("#dlgViewDetails form.update button[type='submit']").removeAttr("disabled");
    //     }
    //   });
    // });

    // The next approach solve the issue with jQuery autocompletes on Bootstrap's modal dialog
    // The issue is that the autocomplete options will appear "behind" the modal dialog. In my previous apps I will include a css style modifying the z-index for the ui-autocomplete, but now, I think this approach is even better
    // This was taken from: 
    // https://stackoverflow.com/questions/16133654/autocomplete-issue-into-bootstrap-modal
    // $("#dlgViewDetails form.update input[name='useradmin']").autocomplete("option", "appendTo", "#dlgViewDetails form.update");

    $("#dlgViewDetails form.update input[name='city']").autocomplete("option", "appendTo", "#dlgViewDetails form.update");

    options = { 
      target:        '#dlgViewDetails #divAjaxResults',
      beforeSubmit:  showRequest,  
      success:       showResponse
    }; 

    function showRequest(formData, jqForm, options) { 
      $('#dlgViewDetails form.update button[type="submit"]').attr("disabled", "true");
      show_msg_with_toastr("info", msg_wait);
      return true;
    }
 
    function showResponse(responseText, statusText, xhr, $form)  { 
      toastr.clear();
      if (statusText == "success")
        show_msg_with_toastr(responseText.status, responseText.msg);
      $('#dlgViewDetails form.update button[type="submit"]').removeAttr("disabled");
    }

    $("#dlgViewDetails form.update").ajaxForm(options);  }
</script>
{% endif %}

<div id="divViewDetails"></div>