{% load static i18n %}

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'js/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

<!-- JQuery DataTable Css -->
<link href="{% static 'js/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" 
rel="stylesheet">

<style type="text/css">
	table.dataTable thead tr th,
	table.dataTable tbody tr td:last-child  {
		text-align: center;
	}

	.centered-text-alignment {
		text-align: center;
	}

	img.product-image {
    width: 128px;
    height: 128px;
    margin: 0 0 10px 0;
    border-radius: 10px;
  }
</style>

<script type="text/javascript">
	$("#btnWithSelections").hide();
</script>

<br />
<!-- 
{# if can_edit or can_delete #}
	<p role="alert"
	class="alert alert-danger alert-dismissible">
		<button type="button" class="close" 
		data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{% trans 'Danger msg sold products' %}
	</p>

	<p role="alert"
	class="alert alert-warning alert-dismissible">
		<button type="button" class="close" 
		data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		{% trans 'Warning msg stored products' %}
	</p>
{# endif  #}
 -->

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable" 
  id="tblSoldProducts">
    <thead>
      <tr style="text-align: center;">
      	{% if can_edit or can_delete %}
        	<th>
        		&nbsp;&nbsp;&nbsp;&nbsp;
        		<input type="checkbox" 
      			class="select-all-products" 
      			id="chkSelectAllProducts" />

      			<label for="chkSelectAllProducts"></label>
					</th>
        {% endif %}

        <th>{% trans 'Image' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Brand' %}</th>
        <th>{% trans 'SKU' %}</th>
        <th>{% trans 'Sale price' %}</th>
      	<th>{% trans 'In store' %}</th>

      	{% if can_edit or can_delete %}
        	<th>{% trans 'Options' %}</th>
        {% endif  %}
      </tr>
    </thead>

    <tbody>
    	{% for sd in sales %}
    		<tr id="sd{{sd.id}}">
    			{% if can_edit or can_delete %}
	    			<td class="centered-text-alignment">
        			<input type="checkbox" 
        			class="select-sd" 
        			id="chkProduct{{sd.id}}" 
        			name="selectProduct{{sd.id}}" />

        			<label for="chkProduct{{sd.id}}"></label>
        		</td>
      		{% endif %}

      		{% if can_edit %}
      			<td>
      				<img src="{{sd.product.static_photo}}" 
        			alt="photo" class="product-image" />
      				<br />

      				<input accept="image/*" 
      				name="image{{sd.id}}" 
      				type="file" id="txtImage{{sd.id}}" />
	          </td>

      			<td>
      				<input name="product{{sd.id}}"
      				required="true" 
      				id="txtProduct{{sd.id}}" 
      				placeholder="{% trans 'This field is mandatory' %}" 
      				class="form-control product" 
      				value="{{sd.product.purchase_detail.product.name}}" />

      				<input name="product_obj{{sd.id}}" id="txtProduct_obj{{sd.id}}" 
      				value="{{sd.product.purchase_detail.product.id}}" 
              style="visibility: hidden;" hidden />
	          </td>

	          <td>
	          	<input name="brand{{sd.id}}"
      				required="true" 
      				id="txtBrand{{sd.id}}" 
      				placeholder="{% trans 'This field is mandatory' %}" 
      				class="form-control brand" 
      				value="{{sd.product.purchase_detail.brand.name}}" />

      				<input name="brand_obj{{sd.id}}" id="txtBrand_obj{{sd.id}}" 
      				value="{{sd.product.purchase_detail.brand.id}}" 
              style="visibility: hidden;" hidden />
	          </td>

	          <td class="centered-text-alignment">
	          	{% if sd.product.sku is not None %}
		          	<input name="sku{{sd.id}}"
	      				class="form-control sku" 
	      				id="txtSKU{{sd.id}}" 
	      				value="{{sd.product.sku}}" />
      				{% else %}
      					<input name="sku{{sd.id}}"
      					id="txtSKU{{sd.id}}" 
	      				class="form-control sku" />
      				{% endif %}
	          </td>

	          <td>
	          	<input 
	          	name="sale_price{{sd.id}}" id="txtSalePrice{{sd.id}}" 
      				class="form-control sale-price price{{sd.id}}" 
      				placeholder="{% trans 'This field is mandatory' %}" 
      				value="{{sd.product.purchase_detail.sale_price}}" />
	          </td>

	          <td>
	          	{% if sd.product.stored %}
		          	<input name="store{{sd.id}}"
	      				id="txtStore{{sd.id}}" 
	      				class="form-control store" 
	      				value="{{sd.product.in_store.store_with_shop_name}}" />

	      				<input name="store_obj{{sd.id}}" 
                id="txtStore_obj{{sd.id}}" 
	      				value="{{sd.product.in_store.id}}"
                style="visibility: hidden;" hidden />
	      			{% else %}
		          	<input name="store{{sd.id}}"
	      				id="txtStore{{sd.id}}" 
	      				class="form-control store" />

	      				<input name="store_obj{{sd.id}}"
	      				id="txtStore_obj{{sd.id}}" 
                style="visibility: hidden;" hidden />
	      			{% endif %}
	          </td>

      		{% else %}
      			<td>
      				<img src="{{sd.product.static_photo}}" 
        			alt="photo" class="product-image" />
	          </td>

	          <td>
	          	{{sd.product.purchase_detail.product.name}}
	          </td>

	          <td>
	          	{{sd.product.purchase_detail.brand.name}}
	          </td>

	          <td class="centered-text-alignment">
	          	{{sd.product.sku}}
	          </td>

	          <td>
	          	{{sd.product.purchase_detail.sale_price}}
	          </td>

	          <td>
	          	{{sd.product.in_store.store_with_shop_name}}
	          </td>
	        {% endif %}

	        {% if can_edit or can_delete %}
          <td>
          	<!--
          	<a href="#" 
          	onclick="showDetails('{{product.id}}', 'products-stores', '{{can_edit}}', '{{can_delete}}', false, false, $('input[name=\'itm_menu\']').val());" 
          	data-placement="bottom"
          	data-toggle="tooltip" 
          	title="{% trans 'Details' %}" 
          	data-original-title="{% trans 'Details' %}"><i class="material-icons">zoom_in</i></a>
          	-->

          	{% if can_edit %}
          	<a href="#" class="save-product{{sd.id}}" 
          	id="actSaveProduct{{sd.id}}"
          	data-placement="top"
          	data-toggle="tooltip" 
          	onclick="saveProduct('{{sd.id}}');" 
          	title="{% trans 'Save' %}" 
          	data-original-title="{% trans 'Save' %}"><i class="material-icons">save</i></a>
          	<!--
          	<a href="#" data-placement="bottom"
          	data-toggle="tooltip"
          	onclick="showDetails('{{product.id}}', 'products-stores', '{{can_edit}}', '{{can_delete}}', true, false, $('input[name=\'itm_menu\']').val());"
          	title="{% trans 'Edit' %}" 
          	data-original-title="{% trans 'Edit' %}"><i class="material-icons">edit</i></a>
          	-->
          	{% endif  %}

          	{% if can_delete %}
          	<a href="#" data-placement="top"
          	data-toggle="tooltip" class="delete-product{{sd.id}}" 
          	onclick="deleteProduct('{{sd.id}}', '{{sd.product.purchase_detail.product.name}}', '{{sd.product.purchase_detail.brand.name}}', '{{sd.product.sku}}');" 
          	title="{% trans 'Delete' %}" 
          	data-original-title="{% trans 'Delete' %}"><i class="material-icons">delete</i></a>
          	<!--
          	<a href="#" data-placement="top"
          	data-toggle="tooltip" 
          	onclick="showDetails('{{product.id}}', 'products-stores', '{{can_edit}}', '{{can_delete}}', false, true, $('input[name=\'itm_menu\']').val());" 
          	title="{% trans 'Delete' %}" 
          	data-original-title="{% trans 'Delete' %}"><i class="material-icons">delete</i></a>
          	-->
          	{% endif  %}
        	</td>
        	{% endif %}
      	</tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
	toastr.clear();

	//Widgets count plugin
  //$('.count-to').countTo();

	$('[data-toggle="tooltip"]').tooltip();

	//Exportable table
	$('#tblSoldProducts').DataTable({
	  dom: 'Bfrtip',
	  responsive: true,
	  buttons: [
	    'copy', 'csv', 'excel', 'pdf', 'print'
	  ]
	});

	$.ajax({
	  method: "GET",
	  url: "/translator/many/",
	  data: { msgs: "Show,entries,Search,Showing,to,of,Previous,Next,Copy,Print"}
	})
	.done(function(result) {
	  result = result.split(',');

	  if ($("#tblSoldProducts_length label")[0] != undefined) {
	 		$("#tblSoldProducts_length label")[0].childNodes[0].textContent = result[0] + ": ";
	  	$("#tblSoldProducts_length label")[0].childNodes[2].textContent = result[1];
	  }

	  $("#tblSoldProducts_filter label")[0].childNodes[0].textContent = result[2] + ": ";

	  msg = $("#tblSoldProducts_info")[0].innerText;

	  strings = msg.split(' ');

	  msg = result[3];
	  for (x = 0; x < strings.length; x++) {
	    str = strings[x];
	    if (str == "Showing")
	      msg += ' ' + strings[x+1];
	    else if (str == "to")
	      msg += result[4] + ' ' + strings[x+1];
	    else if (strings[x] == "of")
	      msg += result[5] + ' ' + strings[x+1];
	    else if (strings[x] == "entries")
	      msg += result[1];
	  }

	  $("#tblSoldProducts_info")[0].innerText = msg;
	  $("#tblSoldProducts_previous")[0].childNodes[0].textContent = result[6];
	  $("#tblSoldProducts_next")[0].childNodes[0].textContent = result[7];

	 	$("#tblSoldProducts_wrapper .dt-buttons a.buttons-copy span")[0].innerText = result[8];
	 	$("#tblSoldProducts_wrapper .dt-buttons a.buttons-print span")[0].innerText = result[9];
	});
</script>

{% if can_edit %}
<button type="button" 
id="btnWithSelections" hidden="true" 
style="visibility: hidden;" 
class="btn btn-primary waves-effect">
	<i class="material-icons">save</i>
	{% trans 'Save selections' %}
</button>
{% elif can_delete %}
<button type="button" 
id="btnWithSelections" hidden="true" 
style="visibility: hidden;" 
class="btn btn-primary waves-effect">
	<i class="material-icons">delete</i>
	{% trans 'Delete selections' %}
</button>
{% endif %}

{% if can_edit or can_delete %}
<script type="text/javascript">
	var counter_selected = 0;

	$("table#tblSoldProducts tbody tr").attr("style", "cursor: pointer");

	$("table#tblSoldProducts input.select-sd").change(function() {
  	if (this.checked)
  		counter_selected++;
  	else
  		counter_selected--;

  	tope = $("input.select-sd").length;

  	if (counter_selected >= tope) {
  		counter_selected = tope;
  		$("#chkSelectAllProducts").attr("checked", "true");
  		$("#btnWithSelections").removeAttr("hidden");
  		$("#btnWithSelections").removeAttr("style");
  		$("#btnWithSelections").show();
  		$("#btnWithSelections").attr("style", "width: auto");
  	}
  	else if (counter_selected > 0) {
  		$("#btnWithSelections").removeAttr("hidden");
  		$("#btnWithSelections").removeAttr("style");
  		$("#btnWithSelections").show();
  		$("#btnWithSelections").attr("style", "width: auto");
  		//$("#chkSelectAllProducts").removeAttr("checked");
  	}
  	else {
  		$("#btnWithSelections").hide();
  		$("#chkSelectAllProducts").removeAttr("checked");
  		counter_selected = 0;
  	}
  });

	$("table#tblSoldProducts thead tr th:nth-child(1)").removeClass("sorting_asc");

  $("table#tblSoldProducts thead tr th:nth-child(1)").click(function(event) {
  	$(this).removeClass();
  	ctrl_cls = event.target.localName;
  	if (ctrl_cls != "label" && 
  		ctrl_cls != "input")
  		event.preventDefault();
  });

  $("table#tblSoldProducts input#chkSelectAllProducts").click(function() {
  	chks = $("table#tblSoldProducts input.select-sd");
  	tope = chks.length;
  	for (x = 0; x < tope; x++)
  		if ((this.checked && !chks[x].checked) ||
  				(!this.checked && chks[x].checked))
  			$(chks[x]).click();
  		//if (chks[x].checked)
  });

  $("table#tblSoldProducts tbody tr").click(function(event) {
  	ctrl_cls = event.target.type;
  	if (ctrl_cls != "text" && 
  		event.target.localName != "i") {
  		sd = this.id.substring("sd".length);
  		$("table#tblSoldProducts input#chkProduct" + sd).click();
  	}
  });
</script>

{% if can_edit %}
<script type="text/javascript">
	$("table#tblSoldProducts input.product").autocomplete({
    source: "/products/autocomplete/my-products/",
    minLength: 1,
  });

	$("table#tblSoldProducts input.product").autocomplete("option", "appendTo", "#tblSoldProducts");

	$("table#tblSoldProducts input.brand").autocomplete({
    source: "/brands/autocomplete/my-brands/",
    minLength: 1,
  });

	$("table#tblSoldProducts input.brand").autocomplete("option", "appendTo", "#tblSoldProducts");

	$("table#tblSoldProducts input.store").autocomplete({
    source: "/stores/autocomplete/my-stores/",
    minLength: 1,
  });

	$("table#tblSoldProducts input.store").autocomplete("option", "appendTo", "#tblSoldProducts");

	$("table#tblSoldProducts input.product").change(function() {
		show_msg_with_toastr("info", msg_wait);

		product=this.name.substr("product".length);

    $.ajax({
      method: "GET",
      url: "/products/search/by-name",
      data: { product: this.value }
    })
    .done(function(result) {
      toastr.clear();
      if (result.exist != undefined && 
          !result.exist || result.dropped)
        $.ajax({
          method: "GET",
          url: "/translator/translate",
          data: { msg: "Please enter a valid product"}
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
          $("table#tblSoldProducts input#txtProduct_obj" + product).val("");
          $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
          $("table#tblSoldProducts #actSaveProduct" + product).hide();
        });
      else if (result.exist == undefined) {
        show_msg_with_toastr(result.status, result.msg);
      }
      else {
      	$("table#tblSoldProducts input#txtProduct_obj" + product).val(result.product);
        $("#dlgViewDetails form button[type='submit']").removeAttr("disabled");
        $("table#tblSoldProducts #actSaveProduct" + product).show();
      }
    });
	});

	// AGREGAR DESDE AQUÍ HASTA EL FINAL DEL SCRIPT A 
	// purchases/purchased-products.hthml

	// IMPORTANTE: 
	// CAMBIAR table#tblSoldProducts x table#tblPurchasedProducts
	$("table#tblSoldProducts input.brand").change(function() {
		show_msg_with_toastr("info", msg_wait);

		brand=this.name.substr("brand".length);

    $.ajax({
      method: "GET",
      url: "/brands/search/by-name",
      data: { brand: this.value }
    })
    .done(function(result) {
      toastr.clear();
      if (result.exist != undefined && 
          !result.exist || result.dropped)
        $.ajax({
          method: "GET",
          url: "/translator/translate",
          data: { msg: "Please enter a valid brand"}
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
          $("table#tblSoldProducts input#txtBrand_obj" + brand).val("");
          $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
          $("table#tblSoldProducts #actSaveProduct" + brand).hide();
        });
      else if (result.exist == undefined) {
        show_msg_with_toastr(result.status, result.msg);
      }
      else {
      	$("table#tblSoldProducts input#txtBrand_obj" + brand).val(result.brand);
        $("#dlgViewDetails form button[type='submit']").removeAttr("disabled");
        $("table#tblSoldProducts #actSaveProduct" + brand).show();
      }
    });
	});

	$("table#tblSoldProducts input.sku").change(function() {
		sku=this.name.substr("sku".length);

		if (this.value.trim().length < 1) {
			$("#dlgViewDetails form button[type='submit']").removeAttr("disabled");
      $("table#tblSoldProducts #actSaveProduct" + sku).show();
			return false;
		}

		show_msg_with_toastr("info", msg_wait);
		$.ajax({
      method: "GET",
      url: "/products/search/sku/",
      data: { sku: this.value }
    })
    .done(function(result) {
      toastr.clear();
      if (result.exist)
        $.ajax({
          method: "GET",
          url: "/translator/translate",
          data: { msg: "The indicated SKU already exists" }
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
          $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
          $("table#tblSoldProducts #actSaveProduct" + sku).hide();
        });
      else {
        $("#dlgViewDetails form button[type='submit']").removeAttr("disabled");
        $("table#tblSoldProducts #actSaveProduct" + sku).show();
      }
    });
	});

	$("table#tblSoldProducts input.store").change(function() {
		show_msg_with_toastr("info", msg_wait);

		store=this.name.substr("store".length);
		storename = this.value.substring(0, this.value.indexOf(" ["));

    $.ajax({
      method: "GET",
      url: "/stores/search/by-name",
      data: { store: storename }
    })
    .done(function(result) {
      toastr.clear();
      if (result.exist != undefined && 
          !result.exist || result.dropped)
        $.ajax({
          method: "GET",
          url: "/translator/translate",
          data: { msg: "Please enter a valid store"}
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
          $("table#tblSoldProducts input#txtStore_obj" + store).val("");
          $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
          $("table#tblSoldProducts #actSaveProduct" + store).hide();
        });
      else if (result.exist == undefined) {
        show_msg_with_toastr(result.status, result.msg);
      }
      else {
      	$("table#tblSoldProducts input#txtStore_obj" + store).val(result.store);
        $("#dlgViewDetails form button[type='submit']").removeAttr("disabled");
        $("table#tblSoldProducts #actSaveProduct" + store).show();
      }
    });
	});

	function saveProduct(product) {
		show_msg_with_toastr("info", msg_wait);
		valid_csrftoken();

		//row=$("table#tblSoldProducts tbody tr#sd" + product);

		/*
		p=$("#txtProduct_obj"+product).val();
		b=$("#txtBrand_obj"+product).val();
		sku=$("#txtSKU"+product).val();
		sp=$("#txtSalePrice"+product).val();
		s=$("#txtStore_obj"+product).val();
		image=$("#txtImage"+product)[0].files[0];
		*/
		p=$("#txtProduct_obj"+product);
		b=$("#txtBrand_obj"+product);
		sku=$("#txtSKU"+product);
		sp=$("#txtSalePrice"+product);
		s=$("#txtStore_obj"+product);
		image=$("#txtImage"+product)[0];
		//console.log(image);

		//data = FormData();

		/*data = {
			"product": p, "brand": b, "sku": sku,
			"sale_price": sp, "store": s, "pk": product,
			"image": image
		};*/

		data = new FormData();
		data.append("product", $(p).val());
		data.append("brand", $(b).val());
		data.append("sku", $(sku).val());
		data.append("sale_price", $(sp).val());
		data.append("store", $(s).val());
		data.append("image", image.files[0]);
		data.append("pk", product);

		$.ajax({
      method: "POST",
      url: "/sales/save-product-from-sale/",
      //contentType: 'multipart/form-data',
      //data: data, 
      contentType: false,
      data: data, processData: false
    })
    .done(function(result) {
    	toastr.clear();
      show_msg_with_toastr(result.status, result.msg);
      /*$("table#tblSoldProducts input#txtStore_obj" + store).val("");
      $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
      $("table#tblSoldProducts #actSaveProduct" + store).hide();*/
    });
	}

	$("#btnWithSelections").click(function() {
  	chks = $("table#tblSoldProducts input.select-sd:checked");
  	tope = chks.length;
  	for (x=0;x<tope;x++) {
  		product=chks[x].id.substring("chkProduct".length);
  		$("table#tblSoldProducts .save-product" + product).click();
  	}
  });
</script>
{% else %}
<script type="text/javascript">
	function deleteProduct(pk, product, brand, sku) {
		//show_msg_with_toastr("info", msg_wait);
		$.ajax({
      method: "GET",
      //url: "/translator/many/",
      //data: { msgs: "Msg warning delete and prompt reason,Deleting,Product,Brand,SKU"}
      url: "/translator/translate/",
      data: { msg: "Msg warning delete and prompt reason"}
    })
    .done(function(result) {
    	//toastr.clear();
    	/*
    	result = result.split(',');
	    msg_warning = result[0];
	    msg_deleting = result[1];
	    msg_product = result[2];
	    msg_brand = result[3];
	    msg_sku = result[4];
	    msg=msg_deleting+":\n\n";
	    msg+=msg_product+": "+product+"\n";
	    msg+=msg_brand+": "+brand+"\n";
	    msg+=msg_sku+": "+sku+"\n\n";
	    msg+=msg_warning;
	    */
	    msg="Eliminando:\n\n";
	    msg+="Producto: "+product+'\n';
	    msg+="Marca: "+brand+'\n';
	    msg+="SKU: "+sku+"\n\n";
	    msg+=result;

      reason=prompt(msg);

      if (reason==null)
    		return false;

    	show_msg_with_toastr("info", msg_wait);
			valid_csrftoken();

			$.ajax({
	      method: "POST",
	      url: "/sales/remove-product-from-sale/",
	      data: { "product": pk,  "reason": reason}
	    })
	    .done(function(result) {
	    	toastr.clear();
	      show_msg_with_toastr(result.status, result.msg);
	      if (result.status == "success")
	      	$("table#tblSoldProducts tbody tr#sd"+pk).remove();
	      /*$("table#tblSoldProducts input#txtStore_obj" + store).val("");
	      $("#dlgViewDetails form button[type='submit']").attr("disabled", "");
	      $("table#tblSoldProducts #actSaveProduct" + store).hide();*/
	    });
    });
	}

	$("#btnWithSelections").click(function() {
  	chks = $("table#tblSoldProducts input.select-sd:checked");
  	tope = chks.length;
  	for (x=0;x<tope;x++) {
  		product=chks[x].id.substring("chkProduct".length);
  		$("table#tblSoldProducts .delete-product" + product).click();
  	}
  });
</script>
{% endif %}	<!-- if can_edit -->
{% endif %}	<!-- can_edit or can_delete -->

<div id="divViewDetails"></div>