{% extends 'stores/generic-form.html' %}

{% load i18n %}

{% block msg_pre_form %}
	{% trans 'Fields marked are mandatory' %}.
{% endblock %}

{% block actions_js %}
	<script type="text/javascript">
	  $(document).ready(function(){
	  	$("input[name='shop']").autocomplete({
	      source: "/shops/autocomplete/my-shops",
	      minLength: 1,
	    });

	    $("input[name='admin']").autocomplete({
	      source: "{% url 'my-users-autocomplete' %}",
	      minLength: 1,
	    });
	  });
	</script>
{% endblock %}