{% load i18n %}

<h3>{% trans 'Advanced config'%}</h3>

<h4>{% trans 'Shops' %}</h4>
<input type="checkbox" class="chkAllShops_brands" 
id="chkAllShops_brands" checked="" />

<label for="chkAllShops_brands" 
id="lblAllShops_brands">
	{% trans 'All female' %}
</label>

{% for shop in shops %}
	<br />

	<input type="checkbox" class="chkShop_brands" 
	id="chkShop_brands{{shop.id}}" checked="" />

	<label for="chkShop_brands{{shop.id}}">
		{{shop.name}}&nbsp;[{% trans 'Admin' %}={{shop.admin.first_name}}&nbsp;{{shop.admin.last_name}};&nbsp;email={{shop.admin.email}}]
	</label>
{% endfor %}

<h4>{% trans 'Products' %}</h4>
<input type="checkbox"
id="chkAllProducts_brands" checked="" />

<label for="chkAllProducts_brands" 
id="lblAllProducts_brands">
	{% trans 'All male' %}
</label>

{% for product in products %}
	<br />

	<input type="checkbox" class="chkProduct_brands" 
	id="chkProduct_brands{{product.id}}" checked="" />

	<label for="chkProduct_brands{{product.id}}">
		{{product.name}}
	</label>
{% endfor %}

<div class="hide-me-brands">
<h4>{% trans 'Brands' %}</h4>
<input type="checkbox"
id="chkAllBrands_brands" checked="" />

<label for="chkAllBrands_brands" 
id="lblAllBrands_brands">
	{% trans 'All female' %}
</label>

{% for brand in brands %}
	<br />

	<input type="checkbox" class="chkBrand_brands" 
	id="chkBrand_brands{{brand.id}}" checked="" />

	<label for="chkBrand_brands{{brand.id}}">
		{{brand.name}}
	</label>
{% endfor %}
</div>

<h4>{% trans 'Users' %}</h4>
<input type="checkbox"
id="chkAllUsers_brands" checked="" />

<label for="chkAllUsers_brands" 
id="lblAllUsers_brands">
	{% trans 'All male' %}
</label>

{% for user in users %}
	<br />

	<input type="checkbox" class="chkUser_brands" 
	id="chkUser_brands{{user.id}}" checked="" />

	<label for="chkUser_brands{{user.id}}">
		{{user.full_name}}&nbsp;[email={{user.email}}]
	</label>
{% endfor %}

<h4>{% trans 'Providers' %}</h4>
<input type="checkbox"
id="chkAllProviders_brands" checked="" />

<label for="chkAllProviders_brands" 
id="lblAllProviders_brands">
	{% trans 'All male' %}
</label>

{% for provider in providers %}
	<br />

	<input type="checkbox" class="chkProvider_brands" 
	id="chkProvider_brands{{provider.id}}" checked="" />

	<label for="chkProvider_brands{{provider.id}}">
		{{provider.name}}&nbsp;[RFC={{provider.rfc}}]
	</label>
{% endfor %}

<br />

<button type="button" onclick="applyCfg_brands(this)" 
class="btn btn-primary waves-effect">
	{% trans 'Accept' %}
</button>

<script type="text/javascript">
	$(".hide-me-brands").hide();

	var msg_wait;
	var msg_all_female;
  var msg_all_male;
	var msg_none_female;
  var msg_none_male;
  var selected_shops=[];
  var selected_brands=[];
  var selected_brands=[];
  var selected_users=[];
  var selected_providers=[];

  $.ajax({
    method: "GET",
    url: "/translator/many/",
    data: {msgs: "Please wait,All female,All male,None female,None male"}
  })
  .done(function(result) {
    result = result.split(',');
    msg_wait = result[0];
    msg_all_female = result[1];
    msg_all_male = result[2];
    msg_none_female = result[3];
    msg_none_male = result[4];
  });

  function applyCfg_brands(invoker) {
  	show_msg_with_toastr("info", msg_wait);

  	if (selected_shops.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one shop"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

    if (selected_brands.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one product"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }
/*
    if (selected_brands.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one brand"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }
*/

		if (selected_users.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one user"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

    if (selected_providers.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one provider"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

		$(invoker).parent().hide(); 
		$("#secPurchasesByBrands .actCfg").show(); 
		$("#secPurchasesByBrands form button[type='submit']").removeAttr("disabled");
		$("#secPurchasesByBrands .form-control").removeAttr("disabled");
		$("#secPurchasesByBrands .hide-me-on-config").show();
		$("#secPurchasesByBrands .btns").show();
		toastr.clear();
	}

  // ***************************************
  // ************** SHOPS ******************
  // ***************************************
  function getInitialSelectedShops() {
	  chks=$("#secPurchasesByBrands .chkShop_brands");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_shops.push(chks[x].id.substr("chkShop_brands".length));
	}

	getInitialSelectedShops();

	$("#secPurchasesByBrands .chkAllShops_brands").change(function(event) {
		chks=$("#secPurchasesByBrands .chkShop_brands");
		tope=chks.length;
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked)
				//$(chks[x]).click();
				$(chks[x])[0].checked=!($(chks[x])[0].checked);

		if (!this.checked) {
			$("#secPurchasesByBrands #lblAllShops_brands").html(msg_all_female);
			selected_shops=[];
		}
		else {
			$("#secPurchasesByBrands #lblAllShops_brands").html(msg_none_female);
			getInitialSelectedShops();
		}
	})

	$("#secPurchasesByBrands .chkShop_brands").change(function() {
		shop=this.id.substr("chkShop_brands".length);

		if (!this.checked) {
			$("#secPurchasesByBrands #chkAllShops_brands").removeAttr("checked");
			$("#secPurchasesByBrands #lblAllShops_brands").html(msg_all_female);

			selected_shops.pop(shop);
		}
		else {
			if (selected_shops.indexOf(shop)==-1)
				selected_shops.push(shop);
			chks=$("#secPurchasesByBrands .chkShop_brands");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {
				if (!($("#secPurchasesByBrands #chkAllShops_brands")[0].checked))
					$("#secPurchasesByBrands #chkAllShops_brands").click();
				$("#secPurchasesByBrands #lblAllShops_brands").html(msg_none_female);
			}
			else
				$("#secPurchasesByBrands #lblAllShops_brands").html(msg_all_female);
		}
	})

	// ***************************************
  // ************ PRODUCTS *****************
  // ***************************************
	function getInitialSelectedProducts() {
	  chks=$("#secPurchasesByBrands .chkProduct_brands");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_brands.push(chks[x].id.substr("chkProduct_brands".length));
	}

	getInitialSelectedProducts();

	$("#secPurchasesByBrands #chkAllProducts_brands").change(function(event) {
		if ($(event).hasClass("chkProduct_brands"))
			return true;

		chks=$("#secPurchasesByBrands .chkProduct_brands");
		tope=chks.length;
		for (x=0;x<tope;x++) {
			if (chks[x].checked!=this.checked)
					$(chks[x])[0].checked=!($(chks[x])[0].checked);
		}

		if (!this.checked) {
			$("#secPurchasesByBrands #lblAllProducts_brands").html(msg_all_male);
			selected_brands=[];
		}
		else {
			$("#secPurchasesByBrands #lblAllProducts_brands").html(msg_none_male);
			getInitialSelectedProducts();
		}
	})

	$("#secPurchasesByBrands .chkProduct_brands").change(function(event) {
		product=this.id.substr("chkProduct_brands".length);

		if (!this.checked) {
			$("#secPurchasesByBrands #chkAllProducts_brands").removeAttr("checked");
			$("#secPurchasesByBrands #lblAllProducts_brands").html(msg_all_male);

			selected_brands.pop(product);
		}
		else {
			if (selected_brands.indexOf(product)==-1)
				selected_brands.push(product);
			chks=$("#secPurchasesByBrands .chkProduct_brands");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {
				if (!($("#secPurchasesByBrands #chkAllProducts_brands")[0].checked))
					$("#secPurchasesByBrands #chkAllProducts_brands").click();
				$("#secPurchasesByBrands #lblAllProducts_brands").html(msg_none_male);
			}
			else
				$("#secPurchasesByBrands #lblAllProducts_brands").html(msg_all_male);
		}
	})

	// ***************************************
  // ************* BRANDS ******************
  // ***************************************
	function getInitialSelectedBrands() {
	  chks=$("#secPurchasesByBrands .chkBrand_brands");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_brands.push(chks[x].id.substr("chkBrand_brands".length));
	}

	getInitialSelectedBrands();
/*
	$("#secPurchasesByBrands #chkAllBrands_brands").change(function() {
		chks=$("#secPurchasesByBrands .chkBrand_brands");
		tope=chks.length;
		selected_brands=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByBrands #lblAllBrands_brands").html(msg_all_female);
			selected_brands=[];
		}
		else {
			$("#secPurchasesByBrands #lblAllBrands_brands").html(msg_none_female);
			getInitialSelectedBrands();
		}
	})

	$("#secPurchasesByBrands .chkBrand_brands").change(function() {
		brand=this.id.substr("chkBrand_brands".length);

		if (!this.checked) {
			$("#secPurchasesByBrands #chkAllBrands_brands").removeAttr("checked");
			$("#secPurchasesByBrands #lblAllBrands_brands").html(msg_all_female);

			selected_brands.pop(brand);
		}
		else {
			if (selected_brands.indexOf(brand)==-1)
				selected_brands.push(brand);
			chks=$("#secPurchasesByBrands .chkBrand_brands");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByBrands #chkAllBrands_brands")[0].checked))
					$("#secPurchasesByBrands #chkAllBrands_brands").click();
				$("#secPurchasesByBrands #lblAllBrands_brands").html(msg_none_female);
			}
			else
				$("#secPurchasesByBrands #lblAllBrands_brands").html(msg_all_female);
		}
	})
*/
	// ***************************************
  // ************** USERS ******************
  // ***************************************
	function getInitialSelectedUsers() {
	  chks=$("#secPurchasesByBrands .chkUser_brands");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_users.push(chks[x].id.substr("chkUser_brands".length));
	}
	
	getInitialSelectedUsers();

	$("#secPurchasesByBrands #chkAllUsers_brands").change(function() {
		chks=$("#secPurchasesByBrands .chkUser_brands");
		tope=chks.length;
		selected_users=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByBrands #lblAllUsers_brands").html(msg_all_male);
			selected_users=[];
		}
		else {
			$("#secPurchasesByBrands #lblAllUsers_brands").html(msg_none_male);
			getInitialSelectedUsers();
		}
	})

	$("#secPurchasesByBrands .chkUser_brands").change(function() {
		brand=this.id.substr("chkUser_brands".length);

		if (!this.checked) {
			$("#secPurchasesByBrands #chkAllUsers_brands").removeAttr("checked");
			$("#secPurchasesByBrands #lblAllUsers_brands").html(msg_all_male);

			selected_users.pop(brand);
		}
		else {
			if (selected_users.indexOf(brand)==-1)
				selected_users.push(brand);
			chks=$("#secPurchasesByBrands .chkUser_brands");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByBrands #chkAllUsers_brands")[0].checked))
					$("#secPurchasesByBrands #chkAllUsers_brands").click();
				$("#secPurchasesByBrands #lblAllUsers_brands").html(msg_none_male);
			}
			else
				$("#secPurchasesByBrands #lblAllUsers_brands").html(msg_all_male);
		}
	})

	// ***************************************
  // ************ PROVIDERS ****************
  // ***************************************
	function getInitialSelectedProviders() {
	  chks=$("#secPurchasesByBrands .chkProvider_brands");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_providers.push(chks[x].id.substr("chkProvider_brands".length));
	}
	
	getInitialSelectedProviders();

	$("#secPurchasesByBrands #chkAllProviders_brands").change(function() {
		chks=$("#secPurchasesByBrands .chkProvider_brands");
		tope=chks.length;
		selected_providers=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByBrands #lblAllProviders_brands").html(msg_all_male);
			selected_providers=[];
		}
		else {
			$("#secPurchasesByBrands #lblAllProviders_brands").html(msg_none_male);
			getInitialSelectedProviders();
		}
	})

	$("#secPurchasesByBrands .chkProvider_brands").change(function() {
		brand=this.id.substr("chkProvider_brands".length);

		if (!this.checked) {
			$("#secPurchasesByBrands #chkAllProviders_brands").removeAttr("checked");
			$("#secPurchasesByBrands #lblAllProviders_brands").html(msg_all_male);

			selected_providers.pop(brand);
		}
		else {
			if (selected_providers.indexOf(brand)==-1)
				selected_providers.push(brand);
			chks=$("#secPurchasesByBrands .chkProvider_brands");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByBrands #chkAllProviders_brands")[0].checked))
					$("#secPurchasesByBrands #chkAllProviders_brands").click();
				$("#secPurchasesByBrands #lblAllProviders_brands").html(msg_none_male);
			}
			else
				$("#secPurchasesByBrands #lblAllProviders_brands").html(msg_all_male);
		}
	})
</script>