{% load i18n %}

<h3>{% trans 'Advanced config'%}</h3>

<div class="hide-me-shops">
<h4>{% trans 'Shops' %}</h4>
<input type="checkbox" class="chkAllShops_shops" 
id="chkAllShops_shops" checked="" />

<label for="chkAllShops_shops" 
id="lblAllShops_shops">
	{% trans 'All female' %}
</label>

{% for shop in shops %}
	<br />

	<input type="checkbox" class="chkShop_shops" 
	id="chkShop_shops{{shop.id}}" checked="" />

	<label for="chkShop_shops{{shop.id}}">
		{{shop.name}}&nbsp;[{% trans 'Admin' %}={{shop.admin.first_name}}&nbsp;{{shop.admin.last_name}};&nbsp;email={{shop.admin.email}}]
	</label>
{% endfor %}
</div>

<h4>{% trans 'Products' %}</h4>
<input type="checkbox"
id="chkAllProducts_shops" checked="" />

<label for="chkAllProducts_shops" 
id="lblAllProducts_shops">
	{% trans 'All male' %}
</label>

{% for product in products %}
	<br />

	<input type="checkbox" class="chkProduct_shops" 
	id="chkProduct_shops{{product.id}}" checked="" />

	<label for="chkProduct_shops{{product.id}}">
		{{product.name}}
	</label>
{% endfor %}

<h4>{% trans 'Brands' %}</h4>
<input type="checkbox"
id="chkAllBrands_shops" checked="" />

<label for="chkAllBrands_shops" 
id="lblAllBrands_shops">
	{% trans 'All female' %}
</label>

{% for brand in brands %}
	<br />

	<input type="checkbox" class="chkBrand_shops" 
	id="chkBrand_shops{{brand.id}}" checked="" />

	<label for="chkBrand_shops{{brand.id}}">
		{{brand.name}}
	</label>
{% endfor %}

<h4>{% trans 'Users' %}</h4>
<input type="checkbox"
id="chkAllUsers_shops" checked="" />

<label for="chkAllUsers_shops" 
id="lblAllUsers_shops">
	{% trans 'All male' %}
</label>

{% for user in users %}
	<br />

	<input type="checkbox" class="chkUser_shops" 
	id="chkUser_shops{{user.id}}" checked="" />

	<label for="chkUser_shops{{user.id}}">
		{{user.full_name}}&nbsp;[email={{user.email}}]
	</label>
{% endfor %}

<h4>{% trans 'Providers' %}</h4>
<input type="checkbox"
id="chkAllProviders_shops" checked="" />

<label for="chkAllProviders_shops" 
id="lblAllProviders_shops">
	{% trans 'All male' %}
</label>

{% for provider in providers %}
	<br />

	<input type="checkbox" class="chkProvider_shops" 
	id="chkProvider_shops{{provider.id}}" checked="" />

	<label for="chkProvider_shops{{provider.id}}">
		{{provider.name}}&nbsp;[RFC={{provider.rfc}}]
	</label>
{% endfor %}

<br />

<button type="button" onclick="applyCfg_shops(this)" 
class="btn btn-primary waves-effect">
	{% trans 'Accept' %}
</button>

<script type="text/javascript">
	$(".hide-me-shops").hide();

	var msg_wait;
	var msg_all_female;
  var msg_all_male;
	var msg_none_female;
  var msg_none_male;
  var selected_shops=[];
  var selected_products=[];
  var selected_brands=[];
  var selected_users=[];
  var selected_providers=[];

  $.ajax({
    method: "GET",
    url: "/translator/many/",
    data: {msgs: "Please wait,All female,All male,None female,None male"}
  })
  .done(function(result) {
    result = result.split(',');
    msg_wait = result[0];
    msg_all_female = result[1];
    msg_all_male = result[2];
    msg_none_female = result[3];
    msg_none_male = result[4];
  });

  function applyCfg_shops(invoker) {
  	show_msg_with_toastr("info", msg_wait);
/*
  	if (selected_shops.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one shop"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }
*/
    if (selected_products.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one product"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

    if (selected_brands.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one brand"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

		if (selected_users.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one user"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

    if (selected_providers.length<1) {
      $.ajax({
        method: "GET",
        url: "/translator/translate/",
        data: {msg: "Please select at least one provider"}
      })
      .done(function(result) {
        toastr.clear();
        show_msg_with_toastr("error", result);
      });
      return false;
    }

		$(invoker).parent().hide(); 
		$("#secPurchasesByShops .actCfg").show(); 
		$("#secPurchasesByShops form button[type='submit']").removeAttr("disabled");
		$("#secPurchasesByShops .form-control").removeAttr("disabled");
		$("#secPurchasesByShops .hide-me-on-config").show();
		$("#secPurchasesByShops .btns").show();
		toastr.clear();
	}

  // ***************************************
  // ************** SHOPS ******************
  // ***************************************
  function getInitialSelectedShops() {
	  chks=$("#secPurchasesByShops .chkShop_shops");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_shops.push(chks[x].id.substr("chkShop_shops".length));
	}

	getInitialSelectedShops();
/*
	$("#secPurchasesByShops .chkAllShops_shops").change(function(event) {
		chks=$("#secPurchasesByShops .chkShop_shops");
		tope=chks.length;
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked)
				$(chks[x])[0].checked=!($(chks[x])[0].checked);

		if (!this.checked) {
			$("#secPurchasesByShops #lblAllShops_shops").html(msg_all_female);
			selected_shops=[];
		}
		else {
			$("#secPurchasesByShops #lblAllShops_shops").html(msg_none_female);
			getInitialSelectedShops();
		}
	})

	$("#secPurchasesByShops .chkShop_shops").change(function() {
		shop=this.id.substr("chkShop_shops".length);

		if (!this.checked) {
			$("#secPurchasesByShops #chkAllShops_shops").removeAttr("checked");
			$("#secPurchasesByShops #lblAllShops_shops").html(msg_all_female);

			selected_shops.pop(shop);
		}
		else {
			if (selected_shops.indexOf(shop)==-1)
				selected_shops.push(shop);
			chks=$("#secPurchasesByShops .chkShop_shops");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {
				if (!($("#secPurchasesByShops #chkAllShops_shops")[0].checked))
					$("#secPurchasesByShops #chkAllShops_shops").click();
				$("#secPurchasesByShops #lblAllShops_shops").html(msg_none_female);
			}
			else
				$("#secPurchasesByShops #lblAllShops_shops").html(msg_all_female);
		}
	})
*/
	// ***************************************
  // ************ PRODUCTS *****************
  // ***************************************
	function getInitialSelectedProducts() {
	  chks=$("#secPurchasesByShops .chkProduct_shops");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_products.push(chks[x].id.substr("chkProduct_shops".length));
	}

	getInitialSelectedProducts();

	$("#secPurchasesByShops #chkAllProducts_shops").change(function(event) {
		if ($(event).hasClass("chkProduct_shops"))
			return true;

		chks=$("#secPurchasesByShops .chkProduct_shops");
		tope=chks.length;
		for (x=0;x<tope;x++) {
			if (chks[x].checked!=this.checked)
					$(chks[x])[0].checked=!($(chks[x])[0].checked);
		}

		if (!this.checked) {
			$("#secPurchasesByShops #lblAllProducts_shops").html(msg_all_male);
			selected_products=[];
		}
		else {
			$("#secPurchasesByShops #lblAllProducts_shops").html(msg_none_male);
			getInitialSelectedProducts();
		}
	})

	$("#secPurchasesByShops .chkProduct_shops").change(function(event) {
		product=this.id.substr("chkProduct_shops".length);

		if (!this.checked) {
			$("#secPurchasesByShops #chkAllProducts_shops").removeAttr("checked");
			$("#secPurchasesByShops #lblAllProducts_shops").html(msg_all_male);

			selected_products.pop(product);
		}
		else {
			if (selected_products.indexOf(product)==-1)
				selected_products.push(product);
			chks=$("#secPurchasesByShops .chkProduct_shops");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {
				if (!($("#secPurchasesByShops #chkAllProducts_shops")[0].checked))
					$("#secPurchasesByShops #chkAllProducts_shops").click();
				$("#secPurchasesByShops #lblAllProducts_shops").html(msg_none_male);
			}
			else
				$("#secPurchasesByShops #lblAllProducts_shops").html(msg_all_male);
		}
	})

	// ***************************************
  // ************* BRANDS ******************
  // ***************************************
	function getInitialSelectedBrands() {
	  chks=$("#secPurchasesByShops .chkBrand_shops");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_brands.push(chks[x].id.substr("chkBrand_shops".length));
	}
	
	getInitialSelectedBrands();

	$("#secPurchasesByShops #chkAllBrands_shops").change(function() {
		chks=$("#secPurchasesByShops .chkBrand_shops");
		tope=chks.length;
		selected_brands=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByShops #lblAllBrands_shops").html(msg_all_female);
			selected_brands=[];
		}
		else {
			$("#secPurchasesByShops #lblAllBrands_shops").html(msg_none_female);
			getInitialSelectedBrands();
		}
	})

	$("#secPurchasesByShops .chkBrand_shops").change(function() {
		brand=this.id.substr("chkBrand_shops".length);

		if (!this.checked) {
			$("#secPurchasesByShops #chkAllBrands_shops").removeAttr("checked");
			$("#secPurchasesByShops #lblAllBrands_shops").html(msg_all_female);

			selected_brands.pop(brand);
		}
		else {
			if (selected_brands.indexOf(brand)==-1)
				selected_brands.push(brand);
			chks=$("#secPurchasesByShops .chkBrand_shops");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByShops #chkAllBrands_shops")[0].checked))
					$("#secPurchasesByShops #chkAllBrands_shops").click();
				$("#secPurchasesByShops #lblAllBrands_shops").html(msg_none_female);
			}
			else
				$("#secPurchasesByShops #lblAllBrands_shops").html(msg_all_female);
		}
	})

	// ***************************************
  // ************** USERS ******************
  // ***************************************
	function getInitialSelectedUsers() {
	  chks=$("#secPurchasesByShops .chkUser_shops");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_users.push(chks[x].id.substr("chkUser_shops".length));
	}
	
	getInitialSelectedUsers();

	$("#secPurchasesByShops #chkAllUsers_shops").change(function() {
		chks=$("#secPurchasesByShops .chkUser_shops");
		tope=chks.length;
		selected_users=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByShops #lblAllUsers_shops").html(msg_all_male);
			selected_users=[];
		}
		else {
			$("#secPurchasesByShops #lblAllUsers_shops").html(msg_none_male);
			getInitialSelectedUsers();
		}
	})

	$("#secPurchasesByShops .chkUser_shops").change(function() {
		brand=this.id.substr("chkUser_shops".length);

		if (!this.checked) {
			$("#secPurchasesByShops #chkAllUsers_shops").removeAttr("checked");
			$("#secPurchasesByShops #lblAllUsers_shops").html(msg_all_male);

			selected_users.pop(brand);
		}
		else {
			if (selected_users.indexOf(brand)==-1)
				selected_users.push(brand);
			chks=$("#secPurchasesByShops .chkUser_shops");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByShops #chkAllUsers_shops")[0].checked))
					$("#secPurchasesByShops #chkAllUsers_shops").click();
				$("#secPurchasesByShops #lblAllUsers_shops").html(msg_none_male);
			}
			else
				$("#secPurchasesByShops #lblAllUsers_shops").html(msg_all_male);
		}
	})

	// ***************************************
  // ************ PROVIDERS ****************
  // ***************************************
	function getInitialSelectedProviders() {
	  chks=$("#secPurchasesByShops .chkProvider_shops");
	  tope=chks.length;

		for (x=0;x<tope;x++)
			selected_providers.push(chks[x].id.substr("chkProvider_shops".length));
	}
	
	getInitialSelectedProviders();

	$("#secPurchasesByShops #chkAllProviders_shops").change(function() {
		chks=$("#secPurchasesByShops .chkProvider_shops");
		tope=chks.length;
		selected_providers=[];
		for (x=0;x<tope;x++)
			if (chks[x].checked!=this.checked) {
				$(chks[x])[0].checked=!($(chks[x])[0].checked);
			}

		if (!this.checked) {
			$("#secPurchasesByShops #lblAllProviders_shops").html(msg_all_male);
			selected_providers=[];
		}
		else {
			$("#secPurchasesByShops #lblAllProviders_shops").html(msg_none_male);
			getInitialSelectedProviders();
		}
	})

	$("#secPurchasesByShops .chkProvider_shops").change(function() {
		brand=this.id.substr("chkProvider_shops".length);

		if (!this.checked) {
			$("#secPurchasesByShops #chkAllProviders_shops").removeAttr("checked");
			$("#secPurchasesByShops #lblAllProviders_shops").html(msg_all_male);

			selected_providers.pop(brand);
		}
		else {
			if (selected_providers.indexOf(brand)==-1)
				selected_providers.push(brand);
			chks=$("#secPurchasesByShops .chkProvider_shops");
			tope=chks.length;

			counter=0;

			for (x=0;x<tope;x++)
				if (chks[x].checked)
					counter++;

			if (counter==tope) {

				if (!($("#secPurchasesByShops #chkAllProviders_shops")[0].checked))
					$("#secPurchasesByShops #chkAllProviders_shops").click();
				$("#secPurchasesByShops #lblAllProviders_shops").html(msg_none_male);
			}
			else
				$("#secPurchasesByShops #lblAllProviders_shops").html(msg_all_male);
		}
	})
</script>