{% load i18n %}

<div class="bg-gradient-primary modal fade" 
id="dlgForgotPassword" tabindex="-1" role="dialog" 
aria-labelledby="lblForgotPassword" aria-hidden="true"
onfocus='$("#dlgForgotPassword #txtEmail").focus();'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lblForgotPassword">
          {% trans 'Forgot password' %}
        </h5>

        <button class="close" type="button" 
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <p class="mb-4" style="text-align: justify;">
          {% trans 'Text recovery password' %}
        </p>

        <form class="user" method="post" action="/users/forgot-password">

          {% csrf_token %}

          <div class="form-group">
            <input type="email" class="form-control form-control-user" id="txtEmail" name="email" 
            aria-describedby="emailHelp" required="true" 
            placeholder="{% trans 'Email' %}">
          </div>

          <button type="submit" class="btn btn-primary btn-user btn-block">
            {% trans 'Reset password' %}
          </button>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <a class="small" href="#"
          data-toggle="modal" data-dismiss="modal"
          data-target="#dlgCreateUserAccount">
            {% trans 'Create user account' %}
          </a>
        </div>

        <div class="text-center">
          <a class="small" href="#"
          data-toggle="modal" data-dismiss="modal"
          data-target="#dlgLogin">
            {% trans 'Already have an user account' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>