{% load i18n %}

<div class="bg-gradient-primary modal fade" 
id="dlgResetPassword" tabindex="-1" role="dialog" aria-labelledby="lblHeader" aria-hidden="true" 
onfocus='$("#dlgResetPassword #txtPassword").focus();'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lblHeader">
          {% trans 'Reset password' %}
        </h5>

        <button class="close" type="button" 
        data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <h6>
          {% trans 'Give us your new password' %}
        </h6>

        <form class="user" method="post" 
        action="/users/do-reset-password" 
        id="frmResetPassword">

          {% csrf_token %}

          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="password" class="form-control form-control-user" id="txtPassword" 
              required="true" name="password" 
              placeholder="{% trans 'New password' %}">
            </div>

            <div class="col-sm-6">
              <input type="password" class="form-control form-control-user" id="txtPassword2" 
              required="true" name="password2" 
              placeholder="{% trans 'Confirm new password' %}">
            </div>
          </div>

          <input type="text" id="txtRecaptchaResponse" 
          name="g-recaptcha-response" 
          hidden="true" style="visibility: hidden;">

          <input type="email" name="email" 
          value="{{email}}" hidden="true" 
          style="visibility: hidden;">

          <button class="btn btn-primary btn-user btn-block"
          type="submit" id="btnSubmit">
            {% trans 'Reset password' %}
          </button>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <a class="small" href="#"
          data-dismiss="modal">
            {% trans 'Cancel' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% block extra_js_footer %}
<script type="text/javascript">
  $(document).ready(function() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6Ld-f6sUAAAAAB81NR_oPrcJ3AdoGV8IIqCZL7wN', {action: 'reset_password_user_account'}).then(function(token) {
        $("#frmResetPassword #txtRecaptchaResponse").val(token);
      });
    });

    $("#frmResetPassword #txtPassword2").change(function() {
      if (this.value != $("#frmResetPassword #txtPassword").val()) {
        $("#frmResetPassword #btnSubmit").attr("disabled", "true");
        $.ajax({
          method: "GET",
          url: "/translator/translate/",
          data: { msg: "Passwords does not match" }
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
        });
      }
      else
        $("#frmResetPassword #btnSubmit").removeAttr("disabled");
    });

    $("#frmResetPassword #txtPassword").change(function() {
      var strongRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#.\$%\^&\*\>\<\,\;\:\-\_])(?=.{8,})/;

      // contains six characters or more and has at least one lowercase and one uppercase alphabetical character or has at least one lowercase and one numeric character or has at least one uppercase and one numeric character. We’ve chosen to leave special characters out of this one.
      var mediumRegex = /^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})/;

      if (!strongRegex.test(this.value)) {
        $("#frmResetPassword #btnSubmit").attr("disabled", "true");
        $.ajax({
          method: "GET",
          url: "/translator/translate/",
          data: { msg: "Required password strength" }
        })
        .done(function(result) {
          show_msg_with_toastr("error", result);
        });
      }
      else
        $("#frmResetPassword #btnSubmit").removeAttr("disabled");
    });
  });
</script>
{% endblock %}