{% load static i18n %}

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'js/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

<!-- JQuery DataTable Css -->
<link href="{% static 'js/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" 
rel="stylesheet">

<style type="text/css">
  table.dataTable thead tr th,
  table.dataTable tbody tr td:last-child  {
    text-align: center;
  }

  table.dataTable tbody tr td {
    vertical-align: middle;
  }

  table.dataTable tbody tr td:nth-child(n+2):nth-child(-n+3) {
    cursor: pointer;
  }

  .centered-text-alignment {
    text-align: center;
  }
</style>

<script src="{% static 'js/dashboard/search-results/before-load-html.js' %}"></script>

<script type="text/javascript">
  var msg_wait;
  var msg_continue1;
  var msg_continue2;

  $.ajax({
    method: "GET",
    url: "/translator/many/",
    data: {msgs: "Please wait,This operation cannot be undone,Prompt are you sure to continue"}
  })
  .done(function(result) {
    result=result.split(",");
    msg_wait=result[0];
    msg_continue1=result[1];
    msg_continue2=result[2];
  });

  function _deleteTask(task, invoker) {
    show_msg_with_toastr("info", msg_wait);

    $.ajax({
      method: "GET",
      url: "/tasks/remove-task-completely/",
      data: {task: task}
    })
    .done(function(result) {
      toastr.clear();
      show_msg_with_toastr(result.status, result.msg);
      if (result.status=="success") {
        // $(invoker).parent().parent().remove();
        // rows=$("#tblResults tbody tr");
        // if (rows.length<1)
        //   $("#lnkHome").click();
        // else
        //   $(".view-all-tasks").click();

        // $(invoker).parent().parent().attr("hidden", "");
        // $(invoker).parent().parent().css("visibility", "hidden");
        $(invoker).parent().parent().hide();
        $("#chkTask"+task).remove();
        $(invoker).parent().parent().remove();
        rows=$("#tblResults tbody tr");
        if (rows.length<1)
          $("#lnkHome").click();

        // if (!many)
        //   $(".view-all-tasks").click();
      }
    });
  }

  function deleteTask(task, invoker, requestConfirm) {
    bootbox.confirm({
      title: msg_continue1,
      message: msg_continue2,
      backdrop: true,
      buttons: {
        cancel: {
          label: '<i class="material-icons">close</i> No'
        },
        confirm: {
          label: '<i class="material-icons">check</i> Sí'
        }
      },
      callback: function(result) {
        if (result) {
          _deleteTask(task, invoker);
        }
      }
    });
  }
</script>

<div class="container-fluid">
  <div class="row clearfix">
    <div class="card">
      <div class="header">
        <h2>{% trans 'Tasks' %}</h2>
      </div>

      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable js-exportable" 
          id="tblResults">
            <thead>
              <tr style="text-align: center;">
                <th>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" 
                  class="select-all-tasks" 
                  id="chkSelectAllTasks" />

                  <label for="chkSelectAllTasks"></label>
                </th>

                <th>{% trans 'Task name' %}</th>
                <th>{% trans 'Percent' %}</th>
                <th>{% trans 'Options' %}</th>
              </tr>
            </thead>

            <tbody>
              {% for task in tasks %}
                <tr id="task{{task.id}}">
                  <td class="centered-text-alignment">
                    <input type="checkbox" 
                    class="select-task" 
                    id="chkTask{{task.id}}" 
                    name="selectTask{{task.id}}" />

                    <label for="chkTask{{task.id}}"></label>
                  </td>

                  <td>
                    {{task.task.name}}
                  </td>

                  <td style="text-align: center;">
                    <div class="progress" style="margin: 0">
                      {% if task.percent <= 20 %}
                        <div class="progress-bar bg-red" 
                        role="progressbar" 
                        aria-valuenow="{{task.percent}}" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: {{task.percent}}%">
                        </div>
                      {% elif task.percent <= 40 %}
                        <div class="progress-bar bg-cyan" 
                        role="progressbar" 
                        aria-valuenow="{{task.percent}}" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: {{task.percent}}%">
                        </div>
                      {% elif task.percent <= 60 %}
                        <div class="progress-bar bg-teal" 
                        role="progressbar" 
                        aria-valuenow="{{task.percent}}" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: {{task.percent}}%">
                        </div>
                      {% elif task.percent <= 80 %}
                        <div class="progress-bar bg-orange" 
                        role="progressbar" 
                        aria-valuenow="{{task.percent}}" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: {{task.percent}}%">
                        </div>
                      {% else %}
                        <div class="progress-bar bg-purple" 
                        role="progressbar" 
                        aria-valuenow="{{task.percent}}" 
                        aria-valuemin="0" 
                        aria-valuemax="100" 
                        style="width: {{task.percent}}%">
                        </div>
                      {% endif %}
                    </div>
                    <small>{{task.percent}}%</small>
                  </td>

                  <td>
                    <a href="#" data-placement="bottom"
                    data-toggle="tooltip" 
                    onclick="deleteTask('{{task.id}}', this, true);" 
                    title="{% trans 'Delete' %}" 
                    data-original-title="{% trans 'Delete' %}"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <button type="button" id="btnDeleteSelected" 
        hidden="" style="visibility: hidden;" 
        class="btn btn-warning waves-effect">
          <i class="material-icons">delete</i>
          {% trans 'Delete selections' %}
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/dashboard/search-results/after-load-html.js' %}"></script>

<script type="text/javascript">
  $("#tblResults_info").remove();
  $("#btnDeleteSelected").hide();
  $("#btnDeleteSelected").removeAttr("hidden");
  $("#btnDeleteSelected").css("visibility", "visible");
  var counter_selected=0;

  $("#chkSelectAllTasks").click(function() {
    chks=$(".select-task");
    tope=chks.length;
    for (x=0;x<tope;x++)
      if ((this.checked && !chks[x].checked) ||
          (!this.checked && chks[x].checked))
        $(chks[x]).click();
  });

  $(".select-task").change(function(event) {
  //$("table#tblResults tbody tr").click(function() {
    if (this.checked)
      counter_selected++;
    else {
      counter_selected--;
      $("#chkSelectAllTasks").removeAttr("checked");
    }

    tope = $(".select-task").length;

    if (counter_selected >= tope) {
      counter_selected = tope;
      $("#chkSelectAllTasks")[0].checked=true;
      $("#btnDeleteSelected").show();
    }
    else if (counter_selected > 0) {
      $("#btnDeleteSelected").show();
    }
    else {
      $("#btnDeleteSelected").hide();
      $("#chkSelectAllTasks").removeAttr("checked");
      counter_selected = 0;
    }
  });

  $("table#tblResults tbody tr td:nth-child(n+2):nth-child(-n+3)").click(function() {
    // if (event.originalEvent.originalTarget.nodeName=="TD") {
    task=$(this).parent()[0].id.substr("task".length);
    $("#chkTask"+task).click();
    // }
    // else
    //   event.preventDefault();
  });

  $("#btnDeleteSelected").click(function() {
    bootbox.confirm({
      title: msg_continue1,
      message: msg_continue2,
      backdrop: true,
      buttons: {
        cancel: {
          label: '<i class="material-icons">close</i> No'
        },
        confirm: {
          label: '<i class="material-icons">check</i> Sí'
        }
      },
      callback: function(result) {
        if (result) {
          chks=$(".select-task:checked");
          tope=chks.length;
          for (x=0;x<tope;x++)
            _deleteTask(chks[x].id.substr("chkTask".length), chks[x]);
          $("#btnDeleteSelected").hide();
        }
      }
    });
  });
</script>